:root {
    --roxo: rgb(119, 86, 149);
    --lilas: rgb(186, 157, 214);
    --fundo: rgb(39, 6, 62);
}

/* =========================
   BASE
========================= */
body {
    background-color: var(--fundo);
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* =========================
   HEADER
========================= */
header {
    width: 100%;
}

.logo-img {
    width: 120px;
    height: auto;
}

.nav-link {
  color: white;
  transition: 0.3s;
}

.nav-link:hover {
  color: #0dcaf0;
}

/* =========================
   TIPOGRAFIA
========================= */
.titulo-principal {
    color: chocolate;
    margin: 0;
}

.subtitulo {
    color: var(--lilas);
    margin: 0;
    font-size: 0.9rem;
}

/* =========================
   LINKS
========================= */
.link-custom {
    color: var(--lilas);
}

.link-custom:hover {
    color: chocolate;
}

/* =========================
   BOTÕES
========================= */
.botao-custom {
    background-color: var(--roxo);
    border: 2px solid var(--lilas);
    color: white;
}

.botao-custom:hover {
    background-color: chocolate;
    border-color: chocolate;
}

/* =========================
   CAROUSEL
========================= */
.carousel-item img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}