:root {
    --roxo: rgb(119, 86, 149);
    --lilas: rgb(186, 157, 214);
    --fundo: rgb(39, 6, 62);
}

/* Fundo */
body {
    background-color: var(--fundo);
    color: white;
}

/* Títulos */
.titulo-principal {
    color: chocolate;
}

.subtitulo {
    color: var(--lilas);
}

/* Links */
.link-custom {
    color: var(--lilas);
}

.link-custom:hover {
    color: chocolate;
}

/* Botão */
.botao-custom {
    background-color: var(--roxo);
    border: 2px solid var(--lilas);
    color: white;
}

.botao-custom:hover {
    background-color: chocolate;
    border-color: chocolate;
}