{% extends "base.html" %}

{% block titulo %}/Home{% endblock %}

{% block content %}
    <section class="container my-4">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='keyframe_1.png') }}" class="d-block mx-auto w-75" alt="Porta Principal">
                </div>

                <div class="carousel-item">
                    <img src="{{url_for('static', filename='keyframe_2.png')}}" class="d-block mx-auto w-75" alt="Fachada">
                </div>

                <div class="carousel-item">
                    <img src="{{url_for('static', filename='keyframe_3.png')}}" class="d-block mx-auto w-75" alt="Área Comum">
                </div>

                <div class="carousel-item">
                    <img src="{{url_for('static', filename='keyframe_4.png')}}" class="d-block mx-auto w-75" alt="Sala de Aula">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>

        </div>
    </section>

    <main class="container py-4 d-flex flex-column gap-4">

        <section>
            <h2 class="titulo-principal">Visão geral Universidade</h2>

            <p><strong>Esta Universidade</strong> Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Dolores voluptatem ullam quidem id odio qui. Assumenda 
            suscipit magni repellendus, est itaque voluptas officiis laborum non reiciendis 
            id delectus accusantium porro!.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Aspernatur tempore dolorum consequuntur expedita, doloribus 
            animi beatae perspiciatis sequi ad laborum dolor earum praesentium 
            esse assumenda possimus placeat sed quaerat sunt.</p>
        </section>

        <section>
            <h3>Cursos Oferecidos</h3>

            <div class="row g-4">

                <div class="col-md-3">
                    <a href="#animacao2d" class="text-decoration-none">
                        <article class="curso-card">
                            <img src="{{url_for('static', filename='1.png')}}" alt="Animação 2D">
                            <div class="overlay">
                                <h5>Animação 2D</h5>
                            </div>
                        </article>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="#animacao3d" class="text-decoration-none">
                        <article class="curso-card">
                            <img src="{{url_for('static', filename='2.png')}}" alt="Animação 3D">
                            <div class="overlay">
                                <h5>Animação 3D</h5>
                            </div>
                        </article>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="#designdepersonagens" class="text-decoration-none">
                        <article class="curso-card">
                            <img src="{{url_for('static', filename='3.png')}}" alt="Design">
                            <div class="overlay">
                                <h5>Design de Personagens</h5>
                            </div>
                        </article>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="#efeitosvisuais" class="text-decoration-none">
                        <article class="curso-card">
                            <img src="{{url_for('static', filename='4.png')}}" alt="VFX">
                            <div class="overlay">
                                <h5>Efeitos Visuais</h5>
                            </div>
                        </article>
                    </a>
                </div>

            </div>
        </section>

        <section>
            <h2 class="titulo-principal">Propósito da Universidade</h2>

            <p><strong>Esta Universidade</strong> Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Dolores voluptatem ullam quidem id odio qui. Assumenda 
            suscipit magni repellendus, est itaque voluptas officiis laborum non reiciendis 
            id delectus accusantium porro!.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Aspernatur tempore dolorum consequuntur expedita, doloribus 
            animi beatae perspiciatis sequi ad laborum dolor earum praesentium 
            esse assumenda possimus placeat sed quaerat sunt.</p>
        </section>

        <section>

            <article>
                <h5 id="animacao2d">Animação 2D</h5>
                <p>A Animação 2D Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt 
                dignissimos amet nostrum eaque, omnis voluptate nisi error, assumenda asperiores 
                mollitia blanditiis minus voluptatem animi, impedit expedita cumque doloremque. Ex,
                accusamus!</p>
            </article>

            <article>
                <h5 id="animacao3d">Animação 3D</h5>
                <p>A Animação 3D Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Maiores officia illum, odio iusto beatae voluptas repudiandae laudantium 
                culpa porro neque quos sunt praesentium consequuntur molestias non aperiam 
                enim assumenda eligendi.</p>
            </article>

            <article>
                <h5 id="designdepersonagens">Design de Personagens</h5>
                <p>O Design de Personagens Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Inventore libero incidunt recusandae mollitia ipsum rem sint ad aliquid placeat nulla
                totam soluta quaerat, aspernatur corporis quibusdam optio sit tempore minima?</p>
            </article>

            <article>
                <h5 id="efeitosvisuais">Efeitos Visuais</h5>
                <p>O VFX Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, 
                officia. Provident, dicta maxime voluptatibus deleniti labore omnis 
                voluptatem. Sint ducimus commodi numquam autem eligendi repudiandae 
                officiis et nemo ullam quo?</p>
            </article>

        </section>

    </main>
    {% endblock %}